<div>
    @if (errorMessage) {
    <p class="errorMessage">{{ errorMessage }}</p>
    }

    @if(request | async; as request) {
    <form [formGroup]="form" (ngSubmit)="onSubmit(request)">
        <div>
            <label for="applicantName">Nome do Solicitante:</label>
            <input readonly id="applicantName" type="text" [value]="request.applicantName">
        </div>
        <div>
            <label for="itemDescription">Descrição do item:</label>
            <input readonly id="itemDescription" type="text" [value]="request.itemDescription">
        </div>
        <div>
            <label for="itemPrice">Preço:</label>
            <input readonly id="itemPrice" [value]="request.getFormattedPrice()" type="text">
        </div>
        <div>
            <label for="approvalStatus">Status:</label>
            <select id="approvalStatus" formControlName="approvalStatus" (change)="onStatusChange()">
                <option value="approved">Aprovado</option>
                <option value="rejected">Reprovado</option>
            </select>
        </div>
        <div>
            <label for="observations">Observações:</label>
            <textarea id="observations" formControlName="observations" [required]="isRejected"></textarea>
        </div>
        <button type="submit">Salvar</button>
    </form>
    }
</div>